<%= form_for([:admin, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
            <% @question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <%= f.text_field :text, autofocus: true, placeholder: 'Enter question here' %>

  <h2>Answers (Image URLs)</h2>

  <%= f.fields_for :answers do |answer| %>
    <%= answer.text_field :image_url, placeholder: "image url" %>
  <% end %>

  <%= f.submit 'Save Question', class: 'btn' %>

<% end %>