<div class="top-buttons">
  <%= link_to 'New Question', new_admin_question_path, class: 'btn simple stretch-50-on-phones' %>
  <%= link_to 'Import Questions', admin_questions_import_path, class: 'btn simple stretch-50-on-phones' %>
</div>

<ul class="choices">
    <% @questions.each do |question| %>
      <li>
        <a href='<%= admin_question_path(question) %>'>
            <div class="text">
                <%= question.text %>
            </div>
            <div class="img-box">
                <img src='<%= question.answers.find(question.correct_answer_id).image_url %>'>
            </div>
        </a>
      </li>
    <% end %>
</ul>



<br>


