<!DOCTYPE html>
<html>
<head>
    <title>JobQuiz Admin</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render 'dashboard/nav', locals: {title: 'Admin'} %>

<div class="admin container">

  <ul class="tabs">
    <li class="stretch-50-on-phones<%=' selected' if controller.controller_name == 'questions' %>">
        <a href="<%= admin_questions_path %>">Questions</a>
    </li>
    <li class="stretch-50-on-phones<%=' selected' if controller.controller_name == 'applicants' %>">
        <a href="<%= admin_applicants_path %>">Applicants</a>
    </li>
  </ul>

  <%= yield %>

</div>


</body>
</html>
